$background-primary: #FFE600;
$background-secondary: #EEEEEE;
$background-tertiary: #FFFFFF;
$button-background: #3483FA;

$border-radius: 4px;
$spacing-4: 4px;
$spacing-8: 8px;
$spacing-16: 16px;
$spacing-32: 32px;

$text-primary: #333333;
$text-secondary: #666666;
$text-tertiary: #999999;
$text-quaternary: #FFFFFF;
$text-12: 12px;
$text-14: 14px;
$text-16: 16px;
$text-18: 18px;
$text-24: 24px;
$text-28: 28px;
$text-46: 46px;
