@import "../../styles/constants";

.spinner-wrapper {
  display: flex;
  align-items: center;
  gap: $spacing-8;

  .spinner {
    border: 2px solid $background-secondary;
    border-left-color: $background-primary;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
}
.column {
  flex-direction: column;
}